body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: url('HeaderImage.png') no-repeat center center/cover;
    color: #fff;
    padding: 5rem;
    text-align: center;
    background-color: #000041; /* For solid color background */
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.details-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: #fff;
    background-color: #000041;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
